* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: #101010;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Lato" "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    "Roboto Mono" "Courier New", monospace;
}
